.payment-renew {
    .title {                                        font-weight: bold; text-align: center; margin: 10px 0; font-size: $capital-font-size; }
    button.button {                                 width: 100%; }
}