.profile-start {                                        position: absolute; left: 0; top: 0; width: 100vw; min-height: 100vh; background-color: $brand-bright;
                                                        z-index: $navbar-z-index + 5;
    &.with-header-image {                               overflow-y: hidden; min-height: 100vh; display: flex; flex-direction: column;
        .footer {                                       flex: 1 auto; background-position: bottom; left: -17%; }
    }
}

@media screen and (min-width: 40em) {
    .profile-start {                                    padding: 0 12.5%; }
}

// Small screens
@media only screen and (max-width: 39.9375em) {
    .profile-start {
        &.with-header-image {
            .footer {                                   left: 0; }
        }
    }
}

.profile-start-payment {
    .sign-up-text {
        width: 100%;
        h4 {
            font-weight: 600;

            b {
                color: $brand-sky-blue;
            }
        }

        .cell--dotted {
            background: url('../images/point.png') repeat-x bottom center;
            background-position-y: 10px;
        }
    }
}