$brand-blue:        #0E80AD;
$brand-light-blue:  #4FA0C6;
$brand-sky-blue:    #1779ba;
$brand-bright:      white;
$brand-default:     black;
$brand-gray:        gray;

$brand-twitter:     #4099FF;
$brand-facebook:    #3A589A;
$brand-google:      #E9544F;
$brand-linkedin:    #1985BC;

$small-font-size:           12px;
$bit-font-size:             13px;
$base-font-size:            14px;
$capital-font-size:         16px;
$subheadline-font-size:     18px;
$headline-font-size:        22px;
$huge-4-font-size:          72px;
$huge-3-font-size:          64px;
$huge-2-font-size:          48px;
$huge-font-size:            40px;
$huge-small-font-size:      32px;
$menu-item-font-size:       28px;

$navbar-z-index:            20;
$navbar-height:             70px;