.custom-time-input {
    .time-input-text {                          display: flex;
        .number-input {                         flex: 0 auto; }
        span {                                  margin: 6px 5px 0 5px; }
    }
    &.no-seconds {
        .time-input-text {
            span:last-of-type,
            .number-input:last-of-type {        display: none; }
        }
    }
}