.file-dropzone {                                        text-align: center; margin: 20px;
    p {                                                 margin-bottom: 0; }
    .top {
        i.fa {                                          font-size: $huge-3-font-size; }
    }
    .bottom {

    }
}