@mixin app-background {
    background-color:                       rgba(130, 136, 150, 0.75);
}

@mixin ellipsed{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@mixin absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}