.profile-business {
    .edit-trigger {                                             cursor: pointer; }
}

.profile-hours {
    .editable-blocks {
        .block {                                                padding-top: 10px;
            .description {                                      margin-right: -10px; }
        }
    }
    .editing {
        .custom-time-input {                                    margin-top: 20px; }
        .small-title {                                          margin: 10px 0 -20px; font-weight: bold; }
    }
}