.section {
    .section-title {                                    @include app-background; text-align: center; font-size: $menu-item-font-size; padding: 10px 5px;
                                                        @include ellipsed;
    }
    .block-title {                                      margin: 10px; text-align: center; font-weight: bold; font-size: $capital-font-size;
        i {                                             margin-left: 5px; font-size: $headline-font-size; }
    }
}

@media screen and (min-width: 40em) {
    .section {
        .base-form {                                    width: 75%; margin: 0 auto; }
    }
}